:root {
  --color-error: #ff7575;
  --color-hover: #b4a9ff;
  --color-white: #ffffff;
  --color-white-05: rgba(255, 255, 255, 0.5);
  --color-white-07: rgba(255, 255, 255, 0.7);
  --color-black: #000000;
  --color-violet: #6a5dc2;
  --color-yellow: #a59400;
  --color-green: #308e21;
  --color-red: #c82020;
  --color-gray: #777;

  --skeleton-base-bg: rgba(255, 255, 255, 0.04);
	--skeleton-shimmer-color-start: rgba(255, 255, 255, 0);
	--skeleton-shimmer-color-mid: rgba(255, 255, 255, 0.08);
	--skeleton-shimmer-color-end: rgba(255, 255, 255, 0);
	--skeleton-shimmer-duration: 1.2s;
}
